@media screen and (min-width: 460px) {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        margin: 0 1em 0 0;
    }
}

@media screen and (min-width: 640px) {
    .introductory-sections {
        overflow: auto;
    }

    .repair-photo {
        display: block;
        width: 50%;
        margin-top: 2em;
        margin-bottom: 1em;
        margin-left: 2em;
        float: right;
    }

    .services-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .services-list li {
        max-width: none;
        flex-basis: 48%;
    }

    .services h2 {
        text-align: center;
    }

    .footer-sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .footer-sections img {
        flex-basis: 50%;
        margin: 0 1em 0 0;
    }

    .contact-info {
        flex-basis: 40%;
    }

    .contact-info h2 {
        margin-top: 1rem;
    }

    footer p {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 800px) {
    .footer-sections img {
        /* flex-basis: 28%; */
    }

    .contact-info {
        /* flex-basis: 16%; */
    }

    .contact-info h2 {
        margin-top: 1rem;
    }

    footer p {
        /* flex-basis: 40%; */
    }
}

@media screen and (min-width: 1000px) {
    footer {
        padding: 0 1em 0 0;
    }

    .footer-sections {
        justify-content: space-between;
    }

    .footer-sections img {
        flex-basis: 28%;
    }

    .contact-info {
        flex-basis: 18%;
    }

    .contact-info h2 {
        margin-top: 1rem;
    }

    footer p {
        flex-basis: 40%;
    }
}

@media screen and (min-width: 1200px) {
    body {
        padding-right: 32px;
        padding-left: 32px;
    }

    header,
    footer {
        margin-right: -32px;
        margin-left: -32px;
    }

    .services-list::after {
        display: none;
    }

    .services-list li {
        flex-basis: 22%;
    }
}
